#!/usr/bin/python2.6
#
# Config file for MySQL Sentinel
#
# Modules follow a loose format:
#   name: unique name for the module instance (required)
#   module: the class to apply the config to (required)
#   hosts: a list of machines to run on
#   interval: after completion of task, seconds to wait for rescheduling
#   subscriptions: gets events when a task has been completed

{
'mysql_generic': {
  'module': 'MysqlGeneric',
  'queries': {'mysql_variables': 'show variables',
              'mysql_status': 'show status',
              'mysql_master_status': 'show master status',
              'mysql_processlist': 'show processlist'},
  'interval': 30,
  },

'mysql_snipe_long_query_60': {
  'module': 'MysqlSnipeLongQuery',
  'snipe_time': 60,
  'subscriptions': ['mysql_generic.mysql_processlist'],
  'user_overrides': {'root': 120},
  },

'mysql_snipe_long_query_240': {
  'module': 'MysqlSnipeLongQuery',
  'snipe_time': 240,
  'subscriptions': ['mysql_generic.mysql_processlist'],
  },
}
